[submodule "libDaisy"]
	path = libDaisy
	url = https://github.com/electro-smith/libDaisy.git
	branch = master
[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/electro-smith/DaisySP.git
	branch = master
[submodule "NeuralAmpModelerCore"]
	path = NeuralAmpModelerCore
	url = https://github.com/oyama/NeuralAmpModelerCore.git
